* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
}

.main-heading {
    min-height: 100vh;
    background-image: url(/images/bg-header-desktop.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:1024px){
    .main-heading{
        background-image: url(/images/bg-header-mobile.png);
       text-align: center;
    }
}

.main-heading .container {
    width: 100%;

}
.main-heading .container .box .tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-heading .container .box .tittle .copy {
    color: hsl(171, 66%, 44%);
    font-size: 150px;
}

.main-heading .container .box .tittle .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-heading .container .box .tittle .text h3 {
    font-size: 35px;
}
@media(max-width: 1024px){
    .main-heading .container .box .tittle .text h3{
        width: 70%;
    }
}
.main-heading .container .box .tittle .text p {
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-size: 16px;
    text-align: center;
}
@media(max-width: 1024px){
    .main-heading .container .box .tittle .text p{
        width: 57%;
    }
}

.main-heading .container .box .tittle .download {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 50%;
    padding-top: 20px;
}
@media(max-width: 1024px){
    .main-heading .container .box .tittle .download{
        flex-direction: column;
    }
}

.main-heading .container .box .tittle .download button:first-of-type {
    background-color: hsl(171, 66%, 44%);
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    width: 25%;
    height: 40px;
    color: white;
}
@media(max-width: 1024px){
    .main-heading .container .box .tittle .download button:first-of-type{
        width: 100%;
    }
}

.main-heading .container .box .tittle .download button:last-of-type {
    background-color: hsl(233, 100%, 69%);
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    width: 25%;
    height: 40px;
    color: white;
}
@media(max-width: 1024px){
    .main-heading .container .box .tittle .download button:last-of-type{
        width: 100%;
    }
}

/* ----------------------------------------------------------------- */
.box .track {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box .track .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
}

.box .track .text h3 {
    font-size: 30px;
}
@media(max-width: 1024px){
    .box .track .text h3{
        width: 70%;
    }
}

.box .track .text p {
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-size: 16px;
    text-align: center;
    width: 48%;
}
@media(max-width: 1024px){
    .box .track .text p{
        width: 57%;
    }
}

.box .track .mac {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}
@media(max-width: 1024px){
     .box .track .mac{
      flex-direction: column;
    }
}
.box .track .mac .left{
    width: 50%;
}
@media(max-width: 1024px){
    .box .track .mac .left{
    width: 100%;
   }
}
.box .track .mac .left img{
    width: 100%;
}
.box .track .mac .right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box .track .mac .right h3{
    font-size: 15px;
}
.box .track .mac .right p{
    color: hsl(201, 11%, 66%);
    font-size: 12px;
    line-height: 1.6;
    width: 55%;
    padding-top: 12px;
}
@media(max-width: 1024px){
    .box .track .mac .right p {
        margin: 0 auto;
        width: 50%;
   }
}

/* ------------------------- */
.box .access{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.box .access .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
}
.box .access .text h3 {
    font-size: 30px;
}
@media(max-width: 1024px){
    .box .access .text h3{
        width: 72%;
    }
}

.box .access .text p {
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-size: 16px;
    text-align: center;
    width: 72%;
}
@media(max-width: 1024px){
    .box .access .text p{
        width: 56%;
    }
}
@media(max-width: 1024px){
    .box .access .image img{
        width: 100%;
    }
}

/* ------------------------------ */
.box .charge{
    display: flex;
    flex-direction: column; 
}
@media(max-width: 1024px){
    .box .charge {
        align-items: center;
   }
}
.box .charge .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 80px;
}

.box .charge .text h3 {
    font-size: 25px;
}
@media(max-width: 1024px){
    .box .charge .text h3 {
        width: 72%;
   }
}
.box .charge .text p {
    color: hsl(201, 11%, 66%);
    font-size: 14px;
}
@media(max-width: 1024px){
    .box .charge .text p {
        width: 72%;
   }
}
.box .charge .group{
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    width: 87%;
}
@media(max-width: 1024px){
    .box .charge .group {
       flex-direction: column;
       gap: 40px;
   }
}
.box .charge .group .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.box .charge .group .list h4{
    font-size: 20px;
}
.box .charge .group .list p{
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-size: 12px;
    text-align: center;
    width: 80%;
}
@media(max-width: 1024px){
    .box .charge .group .list p {
        width: 51%;
   }
}
/* --------------------------------- */
.box .logo{
    display: flex;
    padding-top: 70px;
    justify-content: space-evenly;
}
@media(max-width: 1024px){
    .box .logo {
        flex-direction: column;
        gap: 80px;
        align-items: center;
   }
}
.box .logo img{
    height: 30px;
}
@media(max-width: 1024px){
    .box .logo img {
        width: 51%;
        height: 50px;
   }
}

/* -------------------------------------- */
.box .clipboard{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box .clipboard .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box .clipboard .text h3 {
    font-size: 35px;
}
@media(max-width: 1024px){
    .box .clipboard .text h3 {
        width: 75%;
   }
}

 .box .clipboard .text p {
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    text-align: center;
    width: 68%;
}
@media(max-width: 1024px){
    .box .clipboard .text p {
        width: 56%;
   }
}

.box .clipboard .download {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 50%;
    padding-top: 20px;
}
@media(max-width: 1024px){
    .box .clipboard .download {
        flex-direction: column;
        align-items: center;
   }
}

 .box .clipboard .download button:first-of-type {
    background-color: hsl(171, 66%, 44%);
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    width: 25%;
    height: 40px;
    color: white;
}
@media(max-width: 1024px){
     .box .clipboard .download button:first-of-type{
        width: 100%;
    }
}

 .box .clipboard .download button:last-of-type {
    background-color: hsl(233, 100%, 69%);
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    width: 25%;
    height: 40px;
    color: white;
}
@media(max-width: 1024px){
    .box .clipboard .download button:last-of-type{
       width: 100%;
   }
}
/* ------------------------------------------------------ */
.box .fotter{
    margin-top: 50px;
    display: flex;
    background-color: #f8f3f3a6;
    justify-content: space-around;
    align-items: center;
}
@media(max-width: 1024px){
    .box .fotter{
       flex-direction: column;
   }
}
.box .fotter .copy{
    color: hsl(171, 66%, 44%);
    font-size: 80px;
}
.box .fotter .middel{
    display: flex;
    gap: 70px;
}
@media(max-width: 1024px){
    .box .fotter .middel{
       flex-direction: column;
     gap: 10px;
     margin: 30px;
   }
}
.box .fotter .middel h5{
    color: hsl(201, 11%, 66%);
    cursor: pointer;
}
.box .fotter .middel h5:hover{
    color: hsl(171, 66%, 44%); 
}
.box .fotter .middel .info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box .fotter .social{
    display: flex;
    gap: 20px;
    align-items: center;
}
@media(max-width: 1024px){
    .box .fotter .social{
     gap: 30px;
     margin-bottom: 30px; 
   }
}
.box .fotter .social img{
    cursor: pointer;
    color: black;
}
.box .fotter .social img:hover{
    color: hsl(171, 66%, 44%); 
}